@import '../global.scss';

.container {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: $black;

}

.title{
  color: $white;
  font-size: $h1;
  font-weight: bold;
  text-align: left;
  width: 95%;
}